.table__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    
    .table__title{
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }
    .table__data{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 760px) {
    .table__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px;
            
        .table__title{
            font-weight: bold;
            margin-top: 5px;
            text-align: center;
        }
        .table__data{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}